<html>
  <head>
  <style>
    body{background-color: #ffa1a1;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table>

	<td colspan="5">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >

              <a class="navbar-brand" href="#">&nbsp;&nbsp;Medicines</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button>
              
              <form class="form-inline my-2 my-lg-0">
                <tr>
                  <td>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </td>

                  <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </td>
                <tr>
              </form>
          </nav>
      </td>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/YN/KI/MY-6299000/metformin-hydrochloride-tablets-500x500.jpg" height ="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Metformin Hydrochlo Tablets</h5>
              <p class="card-text">Best Price*  ₹7.04</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Manufacture:<br>JOHNLEE Private Limited</li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/SELLER/Default/2020/11/IP/AV/HG/7327277/liraglutide-injection-500x500.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Victoza Liraglutide Injection</h5>
              <p class="card-text">Best Price*  ₹ 80.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Pharmaco Lifesciences
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://healingpharma.co/wp-content/uploads/2020/05/Hibose-50mg.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Acarbose 50mg </h5>
              <p class="card-text">Best Price* ₹69.37</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Healing Pharma
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/RN/XR/GH/SELLER-87937139/50-mg-janumet-tablets-500x500.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sitagliptin,Metformin 50 Mg </h5>
              <p class="card-text">Best Price* ₹335.67</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Kaycee Pharmaceuticals 
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 18.4rem;">
            <img class="card-img-top" src="https://www.netmeds.com/images/product-v1/600x600/15577/accu_chek_active_glucose_monitor_with_free_10_test_strips_0_3.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Accu-Chek Glucose Monitor</h5>
              <p class="card-text">Best Price* ₹ 1,279.20</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Roche Diabetes Care Gmbh
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.netmeds.com/images/product-v1/600x600/301088/4blud_tablet_30_s_0.jpg" height="260px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">4Blud Tablet 30'S</h5>
              <p class="card-text">Best Price* ₹ 124.60</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Apex Laboratories Pvt Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
