<html>
  <head>
  <style>
    body{background-color: #bad6f7;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table>

	<td colspan="5">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >

              <a class="navbar-brand" href="#">&nbsp;&nbsp;Medicines</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button>
              
              <form class="form-inline my-2 my-lg-0">
                <tr>
                  <td>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </td>

                  <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </td>
                <tr>
              </form>
          </nav>
      </td>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/GO/KT/MY-41510799/mirtazapine-tablet-500x500.jpg" height ="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nupine Mirtazapine 15 Mg</h5>
              <p class="card-text">Best Price*  ₹898.04</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Manufacture:<br>Psycogen Captab</li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/WH/ZR/TI/SELLER-23618296/trazodone-50-mg-500x500.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Trazodone 50 MG</h5>
              <p class="card-text">Best Price*  ₹ 70.09</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Sun Pharmaceutical Industries Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/AL/LG/MY-6299000/duloxetine-30-mg-capsules-500x500.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Duloxetine 30 Mg Capsules</h5>
              <p class="card-text">Best Price* ₹ 28.90</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Ambica Pharma Pvt Ltd.
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://cpimg.tistatic.com/06024792/b/4/50-mg-Desvenlafaxine-Extended-Release-Clonazepam-Tablets.jpg?tr=n-w410" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Desvenlafaxine Extended Release 50-mg</h5>
              <p class="card-text">Best Price* ₹102.17</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Vega Biotec Pvt. Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 18.4rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/SELLER/Default/2020/11/CO/YI/HG/117864840/parnate-tablet-500x500.jpg" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tranylcypromine Sulfate 10 Mg Parnate Tablet</h5>
              <p class="card-text">Best Price* ₹2000.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>PCD Pharma Franchise
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/SELLER/Default/2021/8/KM/ZN/XK/130570540/marplan-250x250.jpg" height="260px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Isocarboxazid Marplan 10 Mg</h5>
              <p class="card-text">Best Price* ₹300.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Validus Pvt ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
