<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="profile-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="img1"> <img src="assets/images/abs1.jpg" alt="" srcset="" > </div>
                        <div class="img2"> <img src="assets/images/abs1.jpg" alt="" srcset=""> </div>
                    <div class="main-text">
                        <h2>Person one</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste ea voluptate iusto accusamus? Voluptate odio 
                            nihil quos maxime, ipsam hic reprehenderit, rerum maiores quasi temporibus omni
                        s nobis. Nisi, laboriosam.</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa-twitter"></i>
                    </div>
                    </div>
                </div>
                <!-- person 1 end-->
                <!-- person 2 start-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="img1"> <img src="assets/images/abs2.jpg" alt="" srcset=""> </div>
                        <div class="img2"> <img src="assets/images/abs2.jpg" alt="" srcset=""> </div>
                    <div class="main-text">
                        <h2>Person one</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste ea voluptate iusto accusamus? Voluptate odio 
                            nihil quos maxime, ipsam hic reprehenderit, rerum maiores quasi temporibus omni
                        s nobis. Nisi, laboriosam.</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa-twitter"></i>
                    </div>
                    </div>
                </div>
                <!-- person 2 ends -->
                <!-- person 3 start -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="img2"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                        <div class="img2"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                    <div class="main-text">
                        <h2>Person one</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste ea voluptate iusto accusamus? Voluptate odio 
                            nihil quos maxime, ipsam hic reprehenderit, rerum maiores quasi temporibus omni
                        s nobis. Nisi, laboriosam.</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa-twitter"></i>
                    </div>
                    </div>
                </div>
                <!-- person 3 ends 
                 <!-- person 4 start -->
                 <div class="col-md-5">
                    <div class="card">
                        <div class="img1"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                        <div class="img1"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                    <div class="main-text">
                        <h2>Person one</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste ea voluptate iusto accusamus? Voluptate odio 
                            nihil quos maxime, ipsam hic reprehenderit, rerum maiores quasi temporibus omni
                        s nobis. Nisi, laboriosam.</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa-twitter"></i>
                    </div>
                    </div>
                </div>
                <!-- person 4 ends -->
                 <!-- person 5 start -->
                 <div class="col-md-6">
                    <div class="card">
                        <div class="img1"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                        <div class="img1"> <img src="assets/images/abs3.jpg" alt="" srcset=""> </div>
                    <div class="main-text">
                        <h2>Person one</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste ea voluptate iusto accusamus? Voluptate odio 
                            nihil quos maxime, ipsam hic reprehenderit, rerum maiores quasi temporibus omni
                        s nobis. Nisi, laboriosam.</p>
                    </div>
                    <div class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa-twitter"></i>
                    </div>
                    </div>
                </div>
                <!-- person 5 ends -->
            </div>
        </div>
    </div>
</body>
</html>
