<html>
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table>

	<td colspan="5">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >

              <a class="navbar-brand" href="#">&nbsp;&nbsp;Medicines</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button>
              
              <form class="form-inline my-2 my-lg-0">
                <tr>
                  <td>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </td>

                  <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </td>
                <tr>
              </form>
          </nav>
      </td>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41muv-h2UwL.jpg" height ="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Proair Hfa</h5>
              <p class="card-text">Best Price*  ₹1250.04</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Manufacture:<br>ALBUTEROL</li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41WXEEeS5aL.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Albuterol</h5>
              <p class="card-text">Best Price*  ₹ 3899.09</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>bayropsil Pharma Industries Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.vetrxdirect.com/images/16111-flovent-inhaler-for-cats-dogs-rx.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flovent HFA</h5>
              <p class="card-text">Best Price* ₹ 5799.90</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Meetered Accutation Pvt Ltd.
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/31quEJahnML.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Xopenex Hfa</h5>
              <p class="card-text">Best Price* ₹2999.17</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>LEVALBUTEROL Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 18.4rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/SELLER/Default/2021/7/RP/JW/EC/118517374/ciclesonide-inhaler-500x500.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ciclesonide Inhaler</h5>
              <p class="card-text">Best Price* ₹3000.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Cipla Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://www.prestoimages.net/store20/rd648/648_pd2215860_1.jpg" height="260px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Aerospan 80 Mcg Inhaler</h5>
              <p class="card-text">Best Price* ₹1999.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>RX Pharmaceuticals
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
