<!-- <section class="banner">
    <owl-carousel-o [options]="bannerSlider">
        <ng-template carouselSlide>
            <img src="assets/images/af1.jfif" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/images/ag2.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/images/af3.jpeg" alt="">
        </ng-template>
    </owl-carousel-o>
</section> 
-->
<!-- <section class="best-selling">
    <div class="container">
        <div class="best-selling-container">
            <div class="sale-price">
                Sale <b>14%</b>
            </div>
        </div>
        <div class="selling-col-1">
            <div class="selling-left">
                <ul>
                    <li>
                        <span class="count-date">194</span>
                        <span class="count-day">Days</span>
                    </li>
                    <li>
                        <span class="count-date">01</span>
                        <span class="count-day">Hours</span>
                    </li>
                    <li>
                        <span class="count-date">22</span>
                        <span class="count-day">Mins</span>
                    </li>
                    <li>
                        <span class="count-date">24</span>
                        <span class="count-day">Secs</span>
                    </li>
                </ul>
            </div>
            <div class="selling-col-2">
                <div class="selling-img">
                    <img src="assets/images/prod1.jfif" alt="">
                </div>
            </div>
            <div class="selling-col-3">
                <div class="selling-heading">
                    <a href="javascript:void(0);">Doxycycline Hyclate</a>
                    <div class="selling-rating">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus numquam at consequatur iusto, neque quibusdam, eum recusandae maxime unde aspernatur ab assumenda adipisci, soluta voluptatem quis iure. Nihil, laudantium eveniet?

                </p>
                <h3>
                    <span class="selling-amount">&#8377;280</span>
                    <span class="selling-discount">&#8377;30</span>
                </h3>
                <div class="selling-button">
                    <a class="cart-btn" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                      </svg> Add To Cart</a>
                      <button type="button" class="main-button">
                        <a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                          </svg></a>
                          <a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg></a>
                      </button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<html>
<head runat="server">
  <style>
    body{background-color: skyblue;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table >
      <tr>
        <td>
        <div class="card" style="width: 24rem;">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202103/coronavirus-4914028_1920_1200x768.jpeg?1iFjgxxcgK8IAyc0AsPhZNQwA2Qt53Tn&size=770:433" height="270px" width="100px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Covid-19</h5>
            <p class="card-text">Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.</p>
            <br><br><br><br><br>
            <a href="http://localhost:63856/" class="btn btn-primary">About Covid-19</a>&nbsp;&nbsp;
            <a class="btn btn-primary" (click)="goToPage('covid')">Medicines</a>
          </div>
        </div>
        </td>

        <td>
          <div class="card" style="width: 24rem;">
            <img src="https://post.healthline.com/wp-content/uploads/2020/04/high-blood-pressure-hypertension-symptoms_thumb.jpg" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blood Pressure</h5>
              <p class="card-text">
                Blood pressure is the force of your blood pushing against the walls of your arteries. Each time your heart beats, it pumps blood into the arteries. 
              </p>
              <br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Blood Pressure</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('bp')">Medicines</a>
            </div>
          </div>
        </td>

        <td>
          <div class="card" style="width: 24rem;">
            <img src="https://www.goodknight.in/wp-content/uploads/2019/03/6-2.png" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dengue</h5>
              <p class="card-text">
                A mosquito-borne viral disease occurring in tropical and subtropical areas.              
              </p>
              <br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Dengue</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('dengue')">Medicines</a>
            </div>
          </div>
        </td>

        <td>
          <div class="card" style="width: 23.5rem;">
            <img src="https://www.aruma.com.au/wp-content/uploads/2018/03/Myths-about-depression-main-image.jpg" height="247px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Depression</h5>
              <p class="card-text">
                A group of conditions associated with the elevation or lowering of a person's mood, such as depression or bipolar disorder
              </p>
              <br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Depression</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('depression')">Medicines</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card" style="width: 24rem;">
            <img src="https://res.cloudinary.com/sharecare/image/upload/f_auto/v1582741298/articles/what-you-need-to-know-about-asthma" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Asthma</h5>
              <p class="card-text">
                A condition in which a person's airways become inflamed, narrow and swell and produce extra mucus, which makes it difficult to breathe.           
              </p>
              <br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Asthama</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('asthma')">Medicines</a>
            </div>
          </div>
        </td>

        <td>
          <div class="card" style="width: 24rem;">
            <img src="https://geneticliteracyproject.org/wp-content/uploads/2018/07/breast_cancer_scientist_750_375_75_s_c1.jpg" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cancer</h5>
              <p class="card-text">
                A disease in which abnormal cells divide uncontrollably and destroy body tissue.
              </p>
              <br><br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Cancer</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('cancer')">Medicines</a>
            </div>
          </div>
        </td>

        <td>
          <div class="card" style="width: 24rem;">
            <img src="https://www.metropolisindia.com/blog/wp-content/uploads/2021/09/typhoid-Fever-test-Metropolis-Healthcare.jpg" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Typhoid</h5>
              <p class="card-text">
                Typhoid fever is an infection that spreads through contaminated food and water.
              </p>
              <br><br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Typhoid</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('typhoid')">Medicines</a>
            </div>
          </div>
        </td>

        <td>
          <div class="card" style="width: 22.5rem;">
            <img src="https://images.hindustantimes.com/img/2021/06/23/1600x900/d55d10aa-d3e2-11eb-aa44-bd97d0999889_1624425821199.jpg" height="270px" width="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diabetes</h5>
              <p class="card-text">
                A group of diseases that result in too much sugar in the blood (high blood glucose).
              </p>
              <br><br><br><br><br><br>
              <a href="http://localhost:63856/" class="btn btn-primary">About Diabetes</a>&nbsp;&nbsp;
              <a class="btn btn-primary" (click)="goToPage('diabetes')">Medicines</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>