<html>
  <head>
  <style>
    body{background-color: #cfafee;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table>

	<td colspan="5">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >

              <a class="navbar-brand" href="#">&nbsp;&nbsp;Medicines</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button>
              
              <form class="form-inline my-2 my-lg-0">
                <tr>
                  <td>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </td>

                  <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </td>
                <tr>
              </form>
          </nav>
      </td>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://4.imimg.com/data4/WN/HM/MY-2932131/vitchol-500-capsule-500x500.jpg" height ="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chloramphenicol 500</h5>
              <p class="card-text">Best Price*  ₹48.24</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Manufacture:<br>Pfizer Ltd</li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/QB/PQ/MY-2309273/carica-papaya-leaf-extract-1100mg-500x500.png" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Carica 1100 mg</h5>
              <p class="card-text">Best Price*  ₹ 200.09</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Talent Health Care
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://i2.wp.com/homeomart.net/wp-content/uploads/2018/02/Wheezal-WL58-Dengue-Drops-Relieves-Dengue-Related-Symptoms.png?fit=400%2C405&ssl=1" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wheezal WL 58 Drops</h5>
              <p class="card-text">Best Price* ₹ 800.24</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br> Zydus PVT LTD.
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://cpimg.tistatic.com/06284271/b/5/Dengue-Tablets-And-Capsules.jpg?tr=n-w410" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Platorich Tablets</h5>
              <p class="card-text">Best Price* ₹95.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Lifesaver Pharma Private Limited
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 18.4rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/SELLER/Default/2020/9/QN/BZ/SK/112301964/ofloxacin-tablets-ip-200-mg-500x500.jpg" height="270px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ofloxacin Tablet I.P</h5>
              <p class="card-text">Best Price* ₹550</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Rexit Pharmaceutical Pvt. Ltd.
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/OG/SX/MY-4735230/levofloxacin-tablets-500x500.jpg" height="260px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Levofloxacin Tablets</h5>
              <p class="card-text">Best Price* ₹300.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Janadhar Medical ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
