<html>
  <head>
  <style>
    body{background-color: #bff5d7;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
  <body>
    <table>

	<td colspan="5">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >

              <a class="navbar-brand" href="#">&nbsp;&nbsp;Medicines</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button>
              
              <form class="form-inline my-2 my-lg-0">
                <tr>
                  <td>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </td>

                  <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </td>
                <tr>
              </form>
          </nav>
      </td>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://5.imimg.com/data5/CM/HJ/MY-28890488/2-500x500.jpg" height ="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ampicillin Capsules</h5>
              <p class="card-text">Best Price*  ₹12.04</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Manufacture:<br>Guru Baba Pharmax Private Limited</li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="http://mcareexports.com/wp-content/uploads/2021/07/amoxicillin-250-mg-500x500-1.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Amoxycillin 250 mg</h5>
              <p class="card-text">Best Price*  ₹ 79.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>La Renon Healthcare
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://rxlist.pro/uploads/images/product_units/5b39ed36715c6984741225.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bencid Tablet</h5>
              <p class="card-text">Best Price* ₹42.37</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Geno Pharmaceuticals Ltd
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://ryvispharma.com/wp-content/uploads/2020/12/148-4.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Co-trimoxazole Tablets</h5>
              <p class="card-text">Best Price* ₹35.67</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture:<br>Ryvis manufacturing
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div class="card" style="width: 18.4rem;">
            <img class="card-img-top" src="https://tiimg.tistatic.com/fp/1/006/426/ciprofloxacin-tablet-257.jpg" height="295px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ciprofloxacin Tablet </h5>
              <p class="card-text">Best Price* ₹79.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>WHITE SWAN PHARMACEUTICAL
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="card" style="width: 19rem;">
            <img class="card-img-top" src="https://wellonapharma.com/admincms/product_img/product_actual_img/norfloxacin-tinidazole-tablet_1551100144.JPG" height="260px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Norfloxacin & Tinidazole Tablets </h5>
              <p class="card-text">Best Price* ₹80.00</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Manufacture: <br>Norflox TZ
              </li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
                quantity
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                
                </div>
              </a></li>
              <li class="list-group-item"><a href="#" class="btn btn-outline-success">Add to cart</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
