<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_us</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="contactinfo">
            <div>
                <h2>Contact Info</h2>
                <ul class="Info">
                    <li>
                        <span><img src="assets/images/location.png"></span>
                        <span>
                            2021 Gls_University <br>
                            Ahmedabad Gujrat India <br>
                            380001
                        </span>
                    </li>
                    <li>
                        <span><img src="assets/images/mail.png"></span>
                        <span>lor@gmail.com</span>
                    </li>
                    <li>
                        <span><img src="assets/images/call.png"></span>
                        <span>22140988</span>
                    </li>
                </ul>
            </div>
            <ul class="sci">
                <li><a href=""><img src="assets/images/1.png" alt="" srcset=""></a></li>
                <li><a href=""><img src="assets/images/2.png" alt="" srcset=""></a></li>
                <li><a href=""><img src="assets/images/3.png" alt="" srcset=""></a></li>
                <li><a href=""><img src="assets/images/4.png" alt="" srcset=""></a></li>
                <li><a href=""><img src="assets/images/5.png" alt="" srcset=""></a></li>
            </ul>
            </div>
            <div class="contactform">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="" id="" required>
                        <span>First-Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" id="" required>
                        <span>Last-Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" id="" required>
                        <span>E-mail Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" id="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea required></textarea> 
                        <span>Write Your Message Here....</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="submit"  value="Send" name="" id="" required>
                        
                    </div>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>
